@model AuthSystem.Models.Test;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Test";
}

<div class="create-test-page-title">
<h1>Create a new test</h1>

</div>
<form method="post" asp-action="Create" asp-controller="Test" class="form form-control">
    <h2>Test Composition</h2>
   <div class="test-details">
        <div>
            <input type="text" id="testName" name="testName" class="form-control" required placeholder="Test name" oninvalid="this.setCustomValidity('Test name is required!')"
                   oninput="this.setCustomValidity('')"  />
            @TempData["testname"]

            <span id="testNameError" style="font-size: larger"></span>
            
        </div>

        <div id="subjects-container" class="subjects-container">
            <h6>Please select at least one subject!</h6>

            @if (Model.Subjects.Count == 0)
            {
                <h2>No Subjects Available</h2>
            }
            @foreach (var subject in Model.Subjects)
            {
                <div class="form-check">
                    <input type="checkbox" name="selectedSubjectIds" value="@subject.SubjectId" id="subject_@subject.SubjectId" class="form-check-input" data-subject-id="@subject.SubjectId" />
                    <label for="subject_@subject.SubjectId">@subject.SubjectName.ToUpper()</label>
                    <input type="number" name="percentages[@subject.SubjectId]" id="percentage_@subject.SubjectId" class="percentage-input form-control-sm" disabled min="1" max="100" required />
                    %
                    <span id="question-count-@subject.SubjectId" class="no-of-questions"></span>
                    <span id="question-count-@subject.SubjectId" ></span>
                    <span id="err-message-@subject.SubjectId" class="err-message-questions"></span>
                </div>
            }
            <div class="total-percentage" id="total-percentage">
                Total Percentage: <span id="totalPercentage">0</span>%
            </div>
        </div>

        <div class="form-group">
            <label for="duration">Duration (minutes):</label>
            <input type="number" id="duration" name="duration" class="form-control" required placeholder="Enter test duration in minutes" min="10" />
            <span id="durationHours"></span>
            <div class="form-group">
                <label for="duration">TimeSpan (minutes):</label>
                <input type="number" id="timeSpan" name="timeSpan" class="form-control"  placeholder="Enter a test span in minutes (optional)" min="10" />
                <span id="timeSpanHours"></span>
            </div>
            <span id="durationError" style="color:red"></span>
        </div>
   </div>
   <div class="create-test-button">
        <button type="submit" id="submit-btn" disabled class="btn btn-success" disabled>Create</button>
   </div>

    
</form>

<hr />

<h2>Created Tests</h2>

<hr />
@if (Model.TestList.Count == 0)
{
    
<h1>NO TESTS CREATED YET!</h1>

}
@foreach (var test in Model.TestList)
{
    <div class="border border-dark rounded gap-2 d-grid p-lg-3 ">
        <h3 style="font-family : 'Lucida Sans'">@test.TestName</h3>
        <p class="text-primary display-7" style="font-family : Rockwell">Duration: @test.Duration minutes</p>
        <p class="text-primary display-7" style="font-family : Rockwell">TimeSpan: @test.TimeSpan minutes</p>
        <div style="margin:10px; border : 0.5px silver solid; border-radius : 10px; font-size : 25px; font-family : 'Segoe UI Symbol'">
            <ol>
                @if (test.TestDetails != null)

                {
                    @foreach (var detail in test.TestDetails)
                    {
                        <li>@detail.Subject.SubjectName - @detail.Percentage%</li>
                    }
                }
            </ol>
            @if (test.TestCalenders != null && test.TestCalenders.Any())
            {
                <h3>Available Calendars</h3>

                <ol>
                    @foreach (var calendar in test.TestCalenders)
                    {
                        {
                            <li>
                                Date: @calendar.Date.ToString("D")
                                - From: @calendar.StartTime.ToString("HH:mm")
                                - To: @calendar.StartTime.AddMinutes(test.Duration).ToString("HH:mm")
                                <strong>(Link will be valid from @calendar.StartTime.ToString("HH:mm") to @calendar.EndTime.ToString("HH:mm") on @calendar.Date.ToString("D"))</strong>

                            </li>
                            <p>Test Center :@calendar.TestCenter.TestCenterName</p>
                            <p>Location :@calendar.TestCenter.TestCenterLocation</p>
                            <a href="@Url.Action("DemoTest", "Test", new { id = @test.Id , C_Id = calendar.Id , C_token = calendar.CalendarToken})">Test Link</a>
                            <a class="btn btn-primary copy-button" data-test-link="@Url.Action("DemoTest", "Test", new { id = @test.Id , C_Id = calendar.Id , C_token = calendar.CalendarToken })">Copy Test Link</a>
                        }
                    }
                </ol>
            }


            else
            {
                <h6>No Calenders Added Yet!</h6>
            }
            <div id="calendars-container" class="gradient-border" >
               <h4>Create a calendar</h4>
                <form method="post" asp-action="CreateCalendar" asp-controller="Test" data-test-id="@test.Id">

                    <label>Date:</label>
                    <input type="hidden" name="testId" value="@test.Id" />
                    <input type="date" name="date" required />
                    <label>Start Time:</label>
                    <input type="time" name="startTime" required id="startTimeInput" />
                     <span id="endTime"></span>
                    <div class="form form-control" style="margin-top :20px; padding :30px">
                        <label class="control-label"> Select a Test Center</label>
                        <select class="form-control" asp-items="@ViewBag.TestCenters" name="centerId" required></select>
                    </div>
                    
                    <button type="submit" id="addCalendarBtn" class="btn btn-primary">Add Calendar</button>
                </form>
         </div>
          
        </div>
        <hr />
       
       
    </div>
}
<script src="/js/CreateTest.js"></script>